<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.zp.dao.ZpRecruitPosterViewMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cc.mrbird.febs.zp.entity.ZpRecruitPosterView">
        <id column="id" property="id"/>
        <result column="userid" property="userid"/>
        <result column="fbr" property="fbr"/>
        <result column="ly" property="ly"/>
        <result column="srtdat" property="srtdat"/>
        <result column="enddat" property="enddat"/>
        <result column="crtdat" property="crtdat"/>
        <result column="ptit" property="ptit"/>
        <result column="pnr" property="pnr"/>
        <result column="pzw" property="pzw"/>
        <result column="state" property="state"/>
        <result column="isend" property="isend"/>
        <result column="currencyField" property="currencyField"/>
        <result column="allNum" property="allNum"/>
        <result column="wclNum" property="wclNum"/>
        <result column="tgNum" property="tgNum"/>
        <result column="yjjNum" property="yjjNum"/>
        <result column="isdate" property="isdate"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, userid, fbr, ly, srtdat, enddat, crtdat, ptit, pnr, pzw, state, isend, currencyField,
        allNum, wclNum, tgNum, yjjNum, isdate
    </sql>
    <select id="findZpRecruitPosterView" resultType="cc.mrbird.febs.zp.entity.ZpRecruitPosterView"
            parameterType="cc.mrbird.febs.zp.entity.ZpRecruitPosterView">
        SELECT
            zrp.id,
            zrp.userid,
            zrp.fbr,
            zrp.ly,
            zrp.srtdat,
            zrp.enddat,
            zrp.crtdat,
            zrp.ptit,
            zrp.pnr,
            zrp.pzw,
            zrp.state,
            zrp.isend,
            zrp.currencyField,
            0 allNum,
            0 wclNum,
            0 tgNum,
            0 yjjNum,
            0 isdate
        FROM
            zp_recruit_poster zrp
        where
            zrp.state = 1
            AND zrp.isend = 0
            <if test="zpRecruitPosterView.currencyField != null and zpRecruitPosterView.currencyField != ''">
                and (zrp.ptit like concat('%', #{zpRecruitPosterView.currencyField} ,'%') or zrp.pzw like concat('%', #{zpRecruitPosterView.currencyField} ,'%'))
            </if>
            AND zrp.srtdat <![CDATA[ <= ]]> now( )
            AND zrp.enddat <![CDATA[ >= ]]> DATE_FORMAT(NOW(),'%Y-%m-%d')
    </select>

    <select id="findZpRecruitPosterOverdueView" resultType="cc.mrbird.febs.zp.entity.ZpRecruitPosterView"
            parameterType="cc.mrbird.febs.zp.entity.ZpRecruitPosterView">
        SELECT
        zrp.id,
        zrp.userid,
        zrp.fbr,
        zrp.ly,
        zrp.srtdat,
        zrp.enddat,
        zrp.crtdat,
        zrp.ptit,
        zrp.pnr,
        zrp.pzw,
        zrp.state,
        zrp.isend,
        zrp.currencyField,
        0 allNum,
        0 wclNum,
        0 tgNum,
        0 yjjNum,
        case when zrp.isend = 1 and zrp.enddat <![CDATA[ > ]]> DATE_FORMAT(NOW(),'%Y-%m-%d')  then 0 else
        case when zrp.enddat <![CDATA[ < ]]> DATE_FORMAT(NOW(),'%Y-%m-%d') then 1 else 0 end end isdate
        FROM
        zp_recruit_poster zrp
        where
        zrp.state = 1
        <if test="zpRecruitPosterView.currencyField != null and zpRecruitPosterView.currencyField != ''">
        and (zrp.ptit like concat('%', #{zpRecruitPosterView.currencyField} ,'%') or zrp.pzw like concat('%', #{zpRecruitPosterView.currencyField} ,'%'))
        </if>
        AND (
        zrp.isend = 1
        OR zrp.enddat <![CDATA[ < ]]> DATE_FORMAT(NOW(),'%Y-%m-%d')
        )
    </select>

</mapper>