<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.zp.dao.ZpStaffEssayMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cc.mrbird.febs.zp.entity.ZpStaffEssay">
        <id column="id" property="id"/>
        <result column="userid" property="userid"/>
        <result column="staffId" property="staffId"/>
        <result column="wzname" property="wzname"/>
        <result column="brpm" property="brpm"/>
        <result column="kwjb" property="kwjb"/>
        <result column="cbdat" property="cbdat"/>
        <result column="fbzt" property="fbzt"/>
        <result column="cbkw" property="cbkw"/>
        <result column="cbkh" property="cbkh"/>
        <result column="yxyz" property="yxyz"/>
        <result column="currencyField" property="currencyField"/>
        <result column="MODIFY_TIME" property="modifyTime"/>
        <result column="CREATE_TIME" property="createTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, userid, staffId, wzname, brpm, kwjb, cbdat, fbzt, cbkw, cbkh, yxyz, currencyField, MODIFY_TIME, CREATE_TIME
    </sql>
    <update id="updateZpStaffEssay" parameterType="cc.mrbird.febs.zp.entity.ZpStaffEssay">
        update zp_staff_essay
        <trim prefix="set" suffixOverrides=",">
            <if test="userid != null">userid=#{userid},</if>
            <if test="staffId != null">staffId=#{staffId},</if>
            <if test="wzname != null">wzname=#{wzname},</if>
            <if test="brpm != null">brpm=#{brpm},</if>
            <if test="kwjb != null">kwjb=#{kwjb},</if>
            <if test="cbdat != null">cbdat=#{cbdat},</if>
            <if test="fbzt != null">fbzt=#{fbzt},</if>
            <if test="cbkw != null">cbkw=#{cbkw},</if>
            <if test="cbkh != null">cbkh=#{cbkh},</if>
            <if test="yxyz != null">yxyz=#{yxyz},</if>
            <if test="currencyField != null">currencyField=#{currencyField},</if>
            <if test="modifyTime != null">MODIFY_TIME=#{modifyTime},</if>
            <if test="createTime != null">CREATE_TIME=#{createTime},</if>
        </trim>
        where id=#{id}

    </update>
    <select id="findZpStaffEssay" resultType="cc.mrbird.febs.zp.entity.ZpStaffEssay"
            parameterType="cc.mrbird.febs.zp.entity.ZpStaffEssay">
        select * from zp_staff_essay
        where 1=1
        <if test="zpStaffEssay.id != null and zpStaffEssay.id != ''">and id =#{ zpStaffEssay.id}</if>
        <if test="zpStaffEssay.staffId != null and zpStaffEssay.staffId != ''">and staffId like concat('%',
            #{ zpStaffEssay.staffId} ,'%')
        </if>
        <if test="zpStaffEssay.wzname != null and zpStaffEssay.wzname != ''">and wzname like concat('%',
            #{ zpStaffEssay.wzname} ,'%')
        </if>
        <if test="zpStaffEssay.brpm != null and zpStaffEssay.brpm != ''">and brpm like concat('%',
            #{ zpStaffEssay.brpm} ,'%')
        </if>
        <if test="zpStaffEssay.kwjb != null and zpStaffEssay.kwjb != ''">and kwjb like concat('%', #{ zpStaffEssay.kwjb}
            ,'%')
        </if>
        <if test="zpStaffEssay.fbzt != null and zpStaffEssay.fbzt != ''">and fbzt like concat('%', #{ zpStaffEssay.fbzt}
            ,'%')
        </if>
        <if test="zpStaffEssay.cbkw != null and zpStaffEssay.cbkw != ''">and cbkw like concat('%', #{ zpStaffEssay.cbkw}
            ,'%')
        </if>
        <if test="zpStaffEssay.cbkh != null and zpStaffEssay.cbkh != ''">and cbkh like concat('%', #{ zpStaffEssay.cbkh}
            ,'%')
        </if>
        <if test="zpStaffEssay.currencyField != null and zpStaffEssay.currencyField != ''">and currencyField like
            concat('%', #{ zpStaffEssay.currencyField} ,'%')
        </if>
    </select>

    <select id="findEssayByPosterIdAndSs" resultType="cc.mrbird.febs.zp.entity.ZpStaffEssay">
        SELECT
            ey.*
        FROM
            zp_staff_apply sa
        left join zp_staff_essay ey on
            sa.staffId = ey.staffId
        WHERE
            sa.posterId = #{posterId}
        <if test="state!=null">
            AND sa.state = #{state}
        </if>
        <if test="idList!=null and idList.size()>0">
            AND sa.staffId in
            <foreach item="item" index="index" collection="idList" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>
</mapper>
